<div class="aboutContainer">

    <div class="textContainer">
        <h2 id="what">What is it?</h2>
        <p>Nunchi, sometimes noonchi, is a Korean concept signifying the subtle art and ability to listen and
            gauge
            others'
            moods. <br>
            Nunchi is literally translated as "eye-measure".

            <h2 id="who">Who we are </h2>
            <p>Ben and Mary are fascinated by Korean culture. They have discovered Nunchi during a trip to
                Korea. Amazed
                by its universal power, they decided to expand their knowledge to everyone. </p>

            <h2 id="offer">What we provide</h2>
            <p>We offer you to immerse in a new way of glancing at our surrounding world, environment,
                selves. Thanks to
                our
                trainings, you will come closer to your inner self to better reach the outer and the others. </p>
    </div>

    <div class="imageContainer"> <img class="womanImg" src="imagesHabout.jpeg" alt="image"></div>
</div>