<div class="galleryContainer">
    {{!-- <div class=" textContainerGallery"> --}}
        <h2 id="foretaste">Foretaste</h2>
        <p id="paraphGallery">Give yourself some time to observe one of these paintings.<br>Try to feel its atmosphere
            as if it was in
            front of you. <br>What
            are the characters doing, saying and thinking?<br> If you were part of it how would you interact so that you
            are
            in line with yourself, with them and with the whole scenery? <br>Now, you are getting a taste of Ninchu.</p>
    {{!-- </div> --}}
    <div class="imgContainerGallery"></div>
    <img id="cene" src="cene.jpg" alt="cene">
    <img id="hopper" src="hopper.png" alt="hopper">
    <img id="renoir" src="renoir.jpg" alt="renoir">
    <img id="hockney" src="hockney.jpg" alt="hockney">
    <img id="scenefamille" src="scenefamille.jpg" alt="scenefamille">
    <img id="trac" src="trac.gif" alt="trac">
</div>