<div class="homecontainer">

    <div class="textBox">
        <h1>{{title}}</h1>
        <div class="happiness">
            <h2>Happiness, wellness, empathy...</h2>
        </div>
        <div class="silence">
            <h3>... trough silence and observation</h3>
        </div>

        <h3 class="enter">Enter the universe of <a class="example_b" href="/about" target="_blank"
                rel="nofollow noopener">Nunchi</a></h3>
    </div>
</div>